@model CompaniesYK.Core.Models.Company

@{
    ViewBag.Title = "Details";
}
<br>
    <h2>@Model.Name</h2>

<div>
    <h4>Details</h4>
    <hr />

    <div class="col-md-2 dl-horizontal">
        <img class="img-responsive" src="~/Content/CompanyImages/@Model.Logo" />
    </div>

    <dl class="col-md-10 dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
